td {
    background-color: black;
    height: 300px;
    width: 150px;
    border: 6px solid white;
}

h1 {
    text-align: center;
    font-family: 'Syne Mono', monospace;
}

.art {
    margin: auto;
}

#one {
    background-color: #798071;
}


#two{
    background-color: #D2D5DD;
}

#three{
    background-color: #B8BACF;
}


#four{
    background-color: #999AC6;
}

#five{
    background-color: #798071;
}