.firstDiv {
    color: red;
}

.secondDiv {
    color: blue;
}

#singledout {
    color: green;
    text-decoration: line-through;
}

h3 + ul {
    border: 5px double green;
}

li a {
    color: chocolate;
}

li a[href="www.google.com"] {
    color: purple;
}
